<div class="col-md-10">
    <h1>Create A Post:</h1>
    <form>
        <label for="post-text">Text</label>
        <input type="text" id="post-text" name="post-text"><br>
        <label for="post-link">Link to Website</label>
        <input type="text" id="post-link" name="post-link"><br>
        <input type="button" value="post" id="post-submit">
    </form>
</div>

<script src="/assets/js/new-post.js"></script>