
<div class="col-md-11 post-list" onLoad="getUserId({{username}})">
<button class="btn"><a href="/create-post">create a post</a></button>

</div>


<script src="../public/assets/js/posts.js"></script>