
<div class="col-md-11 " >
    <h1 id="user">{{username}}</h1>
<button class="btn"><a href="/create-post">create a post</a></button>
<div class="post-list"></div>

</div>


<script src="./assets/js/posts.js"></script>